* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Cochin;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background: url(assets/white-bg.jpg);
    background-color: #e8e8e8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-size: 100vw auto;
}

button {
    font-size: 18px;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(61, 112, 97);
    width: 100vw;
    padding: 0;
    font-size: 40px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1260px;
}

.header-options {
    font-family: Helvetica;
    border: 2px solid rgb(153, 161, 83);
    border-radius: 5px;
    font-size: 18px;
    color: antiquewhite;
    padding: 0.5rem;
    justify-content: center;
    text-align: center;
}

active,
a:hover {
    background-color: rgb(153, 161, 83);
    transition: 0.5s;
    transform: scale(1.2);

}

.header p {
    color: white;
    margin: 10px 0 10px 30px;

}

.header-options-container {
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin: auto 0 auto 0;
    padding-right: 30px;
    font-size: 5vw;
}

.section-name {
    font-size: 40px;
    font-weight: bold;
}

.home-container {
    background: url("assets/home-bg.jpg");
    background-size: 100vw 100vh;
    padding: 30px;
    height: 100vh;
    width: 100%;
    color: white;
    margin-top: 25px;
}

.home-image img {
    width: 300px;
    height: 410px;
    border-radius: 5px;
}

.home-text {
    padding: 30px;
    width: 580px;
}

.home-text p {
    padding: 0;
    margin: 0;
    text-align: left;
}

.home-text p:nth-child(2) {
    font-size: 60px;
    padding: 10px 0;
}

.home-text p:nth-child(1),
.home-text p:nth-child(3) {
    font-size: 20px;
    font-family: Helvetica;
    color: rgb(225, 225, 225);
}

.aboutMe-container {
    padding: 30px;
    width: 100%;
    height: 100vh;
}

.aboutMe-text {
    padding: 30px;
    width: 500px;
}

.aboutMe-text p:nth-child(3) {
    font-family: Helvetica;
    font-size: 20px;
}

.aboutMe-text p:nth-child(2) {
    font-size: 20px;
}

.aboutMe-image {
    width: 300px;
    height: auto;
    border-radius: 5px;
}

.skills-container {
    flex-direction: column;
    margin: 0;
    background-color: rgb(39, 73, 57);
    padding: 20px;
    color: white;

}

.skills-container div:nth-child(1) {
    width: 100%;
}

.skills-layer {
    width: 1200px;
    padding: 20px;

}

.skills-container img {
    width: 180px;
    margin: 20px;
    border-radius: 5px;
}

.skills-container p {
    text-align: center;
}

.resume-container {
    flex-direction: column;
    padding: 30px 20px 20px 20px;

}

.resume-box {
    flex-direction: column;
    border-radius: 5px;
    width: 1200px;
    height: 70%;
    border: 2px solid rgb(103, 84, 9);
    padding: 20px;

}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

.projects-box {
    margin: 10px;
}

.projects-text {
    padding: 10px;
    font-size: 25px;
}

.projects-container img {
    width: 300px;
}

.projects-layer {
    display: flex;
    border: 2px solid rgb(103, 84, 9);
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    width: 900px;

}

.projects-text p {
    font-family: Helvetica;
    font-size: 16px;
}

.projects-text strong {
    font-size: 22px;
}

.contact-container {
    flex-direction: column;
    height: 100vh;
    background-color: rgb(39, 73, 57);
    background: url("assets/leaves.jpg");
    background-size: cover;
    color: white;
}

.contact-container p {
    text-align: center;
}

.contact-container label {
    font-size: 18px;
}

.contact-container input {
    size: 50px;
}

.contact-input {
    padding: 0 0 5px 0;
    color: white;
    font-size: 18px;
}

.contact-textbox {
    height: 80px;
}

.contact-input-box {
    width: 300px;
}


.contact-socialMedia {
    padding: 20px;
    text-align: center;
}

.contact-socialMedia img {
    height: 60px;
}

.footer {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0;
    height: 60px;
    background-color: rgb(61, 112, 97);
    color: white;
}

.footer div:nth-child(1) {
    align-self: flex-end;
}

.footer div:nth-child(2) {
    align-self: flex-start;
}

.footer a {
    color: lightblue;
}

@media only screen and (max-width: 1400px) {

    body {
        background-position: bottom right;
        background-size: 991px 520px;
    }

    .section-name {
        font-size: 25px;
    }

    .header-container {
        width: 90vw;
    }

    .header-container p {
        font-size: 75%;
        padding: auto 0 auto 0;
    }

    .header-options-container {
        width: 50%;
    }

    .header-options {
        font-size: 14px;
    }

    .home-container {
        height: 100vh;
    }

    .home-text p:nth-child(2) {
        font-size: 40px;
    }

    .home-text p:nth-child(1),
    .home-text p:nth-child(3) {
        font-size: 16px;
    }

    .aboutMe-container {
        height: 100vh;
    }

    .aboutMe-container img {
        width: 300px;
    }

    .aboutMe-text {
        width: 60%;
    }

    .skills-container {
        display: flex;
        flex-wrap: wrap;
    }

    .skills-layer {
        width: 90%;
    }

    .skills-container img {
        width: 150px;
    }

    .resume-box {
        width: 85%;
    }

    .projects-container {
        width: 100vw;
        height: fit-content;
        margin-bottom: 20px;
    }

    .projects-box img {
        width: 30vw;
    }

    .projects-layer {
        width: 80%;
    }
}

@media only screen and (max-width: 991px) {
    .header p {
        margin: 10px 10px 10px 0;
    }

    .header-options-container {
        width: 55%;
        min-width: 400px;
        padding: 0;
    }

    .aboutMe-container {
        height: fit-content;
    }

    .aboutMe-container img {
        width: 30%;
    }

}

@media only screen and (max-width: 767px) {
    .header-container strong {
        font-size: 20px;
    }

}

@media only screen and (max-width: 576px) {

    body {
        background-position: bottom right;
        background-size: 100vw auto;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header p {
        color: white;
        margin: 10px 0 10px 10px;
        font-size: 20px;
    }

    .header-options-container {
        padding-right: 0;
        width: 70vw;
        margin-bottom: 10px;
    }

    .header-options {
        padding: auto 0 auto 0;
    }

    .aboutMe-text {
        width: 90vw;
    }


    .aboutMe-text p:nth-child(2),
    .aboutMe-text p:nth-child(3) {
        font-size: 5vw;
    }

    .aboutMe-container {
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
    }

    .aboutMe-container img {
        width: 180px;
        margin-top: 30px;
    }

    .skills-container img {
        width: 80px;
    }

    .resume-box {
        margin-top: 20px;
    }

    .projects-container {
        height: fit-content;
    }

    .projects-container img {
        width: 50vw;

    }

    .projects-layer {
        width: 85vw;
        flex-direction: column;
        align-items: center;

    }

    .projects-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-input-box {
        width: 90%;
    }

    .section-name {
        font-size: 7vw;
        font-weight: bold;
    }
}